--extra-index-url https://download.pytorch.org/whl/lts/1.8/cu111
supervisely==6.72.68
torch==1.8.2
torchvision==0.9.2
timm
gdown
onedrivedownloader
transparent-background
kornia==0.5.11
Pillow==9.2.0
